//This is the resource script manually written by myself , which has proved to work in Codeblocks . 

//here is the source code . 

#include "resource.h"  // which defines a bunch of strings and integers 
//The menu part 
IDR_MYMENU MENU
BEGIN  // the most outside scope identifier  

POPUP "&File"   //menu dropdown list 1 

BEGIN    // the inner scope identifier 
MENUITEM "&Exit", ID_FILE_EXIT
END      // the inner scope identifier 

POPUP "&Stuff" //menu dropdown list 2 

BEGIN    
MENUITEM "&Go", ID_STUFF_GO  
MENUITEM "G&o somewhere else", 0, GRAYED  // make this item grayed , user will be unable to click this 
END

END // the most outside scope identifier  

//The icon part 
IDI_MYICON ICON "my_icon.ico"   
